<div class="mt-5">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Internet Of Things(IOT)</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo,
        maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id
        agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>Coding for Law students</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Coding For Law Students Overview</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
