<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5" style="background-image: url('../../assets/images/butterfly.jpeg');"></a>
      <ul class="list-unstyled components mb-5">
        <li><a>Azania you'are a butterfly.</a></li>
      </ul>
    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" align="center">

    <div class="container">
      <h2>Select Course</h2>
    <div class="mt-5">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3><small class="text-muted">Internet Of Things(IOT)</small></h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a class="list-group-item" routerLink="../course-material"><p class="lead">The Internet of Things brings connectivity to virtually everything. It is changing the way we interact and do business. This creates a host of business opportunities and legal challenges.</p></a>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3> <small class="text-muted">Coding for Law students</small></h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a class="list-group-item" routerLink="../course-material"><p class="lead">Coding For Law Students Overview</p></a>
        </mat-expansion-panel>
      </mat-accordion>
    </div>


  </div>
</div>
</div>
