<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <div class="circle mb-5"><p align="center">IOT</p></div>
      <ul class="list-unstyled components mb-5">
        <li class="active"><a href="#">Name</a></li>
        <li><a href="#">Subscription type</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Company Profile</a></li>
      </ul>
    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" align="center">
    <p>Course Material</p>
  </div>
</div>
