/*host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}*/
.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}

mat-card {
  margin-top: 10%;
}


