<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5" style="background-image: url('../../assets/images/background.png');"></a>
      <ul class="list-unstyled components mb-5">
        <li class="active"><a href="#">Name</a></li>
        <li><a href="#">Subscription type</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Company Profile</a></li>
      </ul>
    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" align="center">
    <p>course-test works!</p>
  </div>
</div>
