<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5" style="background-image: url('../../assets/images/profile-picture.jpeg');"></a>
      <ul class="list-unstyled components mb-5">
        <li><a>Name: Azania</a></li>
        <li><a>Age: 16</a></li>
        <li><a>Contact: 071 258 2589</a></li>
        <li><a>Location: Cape Town</a></li>
      </ul>
    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" align="center">

    <div class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5" style="background-image: url('../../assets/images/profile-picture.jpeg');"></a>
      <ul class="list-unstyled components mb-5">
        <li><a>Name: Azania</a></li>
        <li><a>Location: Cape Town</a></li>
        <li><a>Age: 16</a></li>
      </ul>
    </div>

  </div>
</div>
